@v: 0.25em;
@h: 0.5em;

.copy-code-to-clipboard {
  position: relative;
  padding-top: 1em + @v * 2 !important;
}

.copy-code-to-clipboard-button {
  padding: @v @h @v @h !important;
  position: absolute;
  top: 0;
  right: 0;
}
